.intro{
	height:600px;
	background-color:#2388DB;
}

.form-horizontal .form-group{
    margin-right:0px;
}

#sad-guy{
    position:fixed;
    top:605px;
    left:20px;
    width:202px;
    height:327px;
    background-image:url('../img/sad_guy.png');
    z-index:15;
}

#old-city{
    position:fixed;
    top:605px;
    width:100%;
    height:400px;
    background-image:url('../img/city1.jpg');
    z-index:10;
}
#new-city{
    position:fixed;
    top:605px;
    width:100%;
    height:400px;
    background-image:url('../img/city2.jpg');
    z-index:5;
}

